@import "reset.scss";
@import "vars.scss";
@import "media2.scss";

html {  
  font-family: 'JetBrains Mono', monospace;
}

a{
    text-decoration : none;
    color: black;
}

// HEADER

body{
    min-height: 100vh;
    width: 100vw;
    background: $gradient-top-left;

    
    &> header{
        border-bottom: 1px solid $neonBlue;
        &> nav > ul{
            width: 100vw;
            height: 10vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            &> li a{
                color: white;
                font-weight: bold;
            }
        }
    }
}    

// MAIN TITRE PRINCIPALE

body > main{
        h1{
            text-align: center;
            color: white;
            font-size: 2.5rem;
            font-weight: bold;
            margin: 50px;
        }
}

// MAIN Tableau

body > main > section{
    display: flex;
    > section{
        background-color: white;
        display: grid;
        grid-template-rows: 0.1fr 1fr 0.1fr;

        > header{
            background-color: #64dfdf;
            height: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            h2{
                color: white;
                font-weight: bold;
                
            }
        }
        > section{
            p{
                margin-bottom: 15px;
            }
            padding: 10px;
        }
        > footer{
            display: flex;
            justify-content: center;
            align-items: center;
            color: blue;
        }
        &:nth-of-type(1){
            height: 55vh;
        }
        &:nth-of-type(2){
            height: 60vh;
        }
        &:nth-of-type(3){
            height: 55vh;
        }
    }
}

