/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #687385;
}

html {
  font-size: 14px;
}

.hidden {
  display: none;
}

body > header {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  background-color: white;
}
body > header > nav {
  justify-self: center;
  align-self: center;
}
body > header > nav > ul li {
  color: #687385;
  display: inline;
  margin: 0 20px;
}
body > header > ul {
  justify-self: center;
  align-self: center;
}
body > header > ul li {
  color: #687385;
  display: inline;
  margin: 0 5px;
  font-size: 1.4rem;
}
body > header > ul li:nth-of-type(1) a {
  color: #3b5998;
}
body > header > ul li:nth-of-type(2) a {
  color: #00acee;
}
body > header > ul li:nth-of-type(3) a {
  color: #E60023;
}

body > main > section:nth-of-type(1) {
  background-color: #f1f2f3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
}
body > main > section:nth-of-type(1) > section:nth-of-type(1) {
  justify-self: center;
  align-self: center;
  padding: 8vw;
}
body > main > section:nth-of-type(1) > section:nth-of-type(1) p:nth-of-type(1) {
  font-size: 4rem;
  font-weight: bold;
  margin: 10px 0;
}
body > main > section:nth-of-type(1) > section:nth-of-type(1) p:nth-of-type(1) strong {
  color: steelblue;
}
body > main > section:nth-of-type(1) > section:nth-of-type(1) p:nth-of-type(2) {
  font-size: 3rem;
  font-weight: bold;
  margin: 10px 0;
}
body > main > section:nth-of-type(1) > section:nth-of-type(1) p:nth-of-type(3) {
  font-size: 1.4rem;
  color: #687385;
  margin: 20px 0;
}
body > main > section:nth-of-type(1) > section:nth-of-type(1) form {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
}
body > main > section:nth-of-type(1) > section:nth-of-type(1) form input {
  border-radius: 40px 0 0 40px;
  height: 50px;
  border: none;
  padding: 0 30px;
}
body > main > section:nth-of-type(1) > section:nth-of-type(1) form button {
  background-color: steelblue;
  border-radius: 0 40px 40px 0;
  height: 50px;
  border: none;
  color: white;
  padding: 0 20px;
  margin-left: -5px;
  font-weight: bold;
}
body > main > section:nth-of-type(1) > section:nth-of-type(2) {
  justify-self: center;
  align-self: center;
}

body > main > section:nth-of-type(2) {
  width: 80vw;
  margin: auto;
  background-color: white;
  display: grid;
  grid-template-rows: 0.1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 50px 0;
}
body > main > section:nth-of-type(2) > section:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body > main > section:nth-of-type(2) > section:nth-of-type(1) h3 {
  font-size: 1.4rem;
  font-weight: bold;
}
body > main > section:nth-of-type(2) > section:nth-of-type(1) ul > li {
  display: inline;
}
body > main > section:nth-of-type(2) > section:nth-of-type(1) ul > li:first-of-type {
  font-weight: bold;
}
body > main > section:nth-of-type(2) > section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}
body > main > section:nth-of-type(2) > section:nth-of-type(2) > article:nth-of-type(1) {
  border-radius: 20px;
  background-image: url("https://picsum.photos/id/238/500/300");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  box-shadow: 2px 2px 10px grey;
}
body > main > section:nth-of-type(2) > section:nth-of-type(2) > article:nth-of-type(1) > p:first-of-type {
  color: blue;
  font-weight: bold;
}
body > main > section:nth-of-type(2) > section:nth-of-type(2) > article:nth-of-type(1) h3 {
  color: white;
  font-size: 2.5rem;
}
body > main > section:nth-of-type(2) > section:nth-of-type(2) > article:nth-of-type(1) p:last-of-type {
  color: white;
}
body > main > section:nth-of-type(2) > section:nth-of-type(2) > article:nth-of-type(2) {
  border-radius: 20px;
  box-shadow: 2px 2px 10px grey;
  display: grid;
  grid-template-rows: 1fr 0.2fr 0.6fr 0.2fr;
}
body > main > section:nth-of-type(2) > section:nth-of-type(2) > article:nth-of-type(2) > figure > img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
body > main > section:nth-of-type(2) > section:nth-of-type(2) > article:nth-of-type(2) > p:first-of-type {
  font-weight: bold;
  margin: 20px;
}
body > main > section:nth-of-type(2) > section:nth-of-type(2) > article:nth-of-type(2) h3 {
  font-size: 2rem;
  margin: 20px;
}
body > main > section:nth-of-type(2) > section:nth-of-type(2) > article:nth-of-type(2) > p:last-of-type {
  margin: 20px;
}
body > main > section:nth-of-type(2) > section:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
body > main > section:nth-of-type(2) > section:nth-of-type(3) > article {
  border-radius: 20px;
  box-shadow: 2px 2px 10px grey;
}
body > main > section:nth-of-type(2) > section:nth-of-type(3) > article > figure > img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
body > main > section:nth-of-type(2) > section:nth-of-type(3) > article > p:first-of-type {
  font-weight: bold;
  margin: 20px;
}
body > main > section:nth-of-type(2) > section:nth-of-type(3) > article h3 {
  font-size: 2rem;
  margin: 20px;
}
body > main > section:nth-of-type(2) > section:nth-of-type(3) > article > p:last-of-type {
  margin: 20px;
}

/*# sourceMappingURL=style.css.map */
